/* *********************************
 * l-body
 * ********************************* */
.l-body {
	display: grid;
	background: #f3feda;

	grid-template-rows: 100px 1fr 360px;
	@include mq(sm) {
		grid-template-rows: 70px 1fr 310px;
	}
}

/* *********************************
 * l-main area
 * ********************************* */
/* col1 */
.l-main.-col1 {
	margin: 0 auto;
}
